{% if video_en_cours is defined and video_en_cours is not empty %}
	<div id="video_image">
		<img src="{{video_en_cours.videoGroup.video.thumbnailHq}}" alt="" class="thumbnail-hq" />
	</div>
	
	<div id="video_infos" class="pull-left">
		<div class="title">
			<a href="{{video_en_cours.videoGroup.video.youtubeUrl}}">
				{% if video_en_cours.videoGroup.diffusion == 0 %}<i class="icon-star"></i>{% endif %}
				{{video_en_cours.videoGroup.video.title}}
			</a>	
			
			{% if video_en_cours.videoGroup.user is not empty %}
			<div class="user-box">
				<img src="{{ video_en_cours.videoGroup.user.gravatar }}" alt="{{ video_en_cours.videoGroup.user.login }}" class="photo-small" />
				<span class="navbar-text">{{ video_en_cours.videoGroup.user.login }}</span>
			</div>
			{% endif %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="vote">
				<a href="{{path('vote', {'sens' : 1, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote"><i class="icon-thumbs-up icon-white"></i></a>
				 <a href="{{path('vote', {'sens' : 0, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote">/</a> <a href="{{path('vote', {'sens' : -1, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote"><i class="icon-thumbs-down icon-white"></i></a>
				 <span class="navbar-text">- Vote : <span id="nb_vote_video_en_cours">{{somme}}</span></span>
			</div>
		</div>
		
		<div id="container_progress-bar">		
			<span class="pull-left navbar-text">{{(date_actuelle | date('U') - video_en_cours.videoGroup.lastBroadcast| date('U'))|niceTime}}</span>
			<div class="progress pull-left">
				<div class="bar bar-success" style="width: {{(date_actuelle | date('U') - video_en_cours.videoGroup.lastBroadcast| date('U')) / video_en_cours.videoGroup.video.duration * 100}}%;"></div>
			</div>
			<span class="pull-left navbar-text">{{video_en_cours.videoGroup.video.duration|niceTime}}</span>
		</div>        	

    </div>
{% endif %}
