{% extends "MongoeatVoteBundle::layout.html.twig" %}

{% block body -%}
    <h1>Vote</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Restaurant</th>
                <td><a href="{{ path('restaurant_show',{'id':entity.restaurant.id}) }}">{{ entity.restaurant.name }}</a></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">


    <p>
        <a class="btn" href="{{ path('decision') }}">
            <i class="icon-repeat" style="margin-right: 5px"></i>Revenir à Mongoeat
        </a>
    </p>
{% if entity.decision.date|date('Ymd') == "now"|date('Ymd')  %}
    <p>
        <a class="btn btn-info" href="{{ path('vote_edit', { 'id': entity.id }) }}">
            Modifier
        </a>

    </p>
        <form action="{{ path('vote_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>
{% endif %}
</ul>
{% endblock %}
