{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title %}{{video_group.video.title}}{% endblock title %}

{% block body %}

<!DOCTYPE html>
	<div class="marketing">
		<h1><img src="{{ asset('bundles/Mongoboxjukebox/img/mongobox.png') }}" title="{{project_name}}" /></h1>
		<h2>{{video_group.video.title}}</h2>
	</div>
	<div class="hero-unit">
		<object id="video" width="1090" height="700" data="http://www.youtube.com/v/{{video_group.video.lien}}?enablejsapi=1&autoplay=1&iv_load_policy=3" type="application/x-shockwave-flash">
			<param value="http://www.youtube.com/embed/{{video_group.video.lien}}"></param>
			<param name="allowFullScreen" value="true"></param>
			<param value="always"></param>
		</object>
		<br />
		<!-- <a href="{{path('delete_video', {'id_video' : video_group.id})}}" class="btn">Delete</a> -->
		<!-- <a href="{{path('ajax_flag_vendredi_video', {'id_video' : video_group.id})}}" class="btn" onclick="$('#load_vendredi').load($(this).attr('href')); return false;">Flagger Vendredi</a> -->
		<div id="load_vendredi"></div>
		<input type="hidden" id="id_video" value="{{video_group.id}}" /><br />
		{% if video_group.user is not empty %}
		<div class="user-box">
			<img src="{{ video_group.user.avatar }}" alt="{{ video_group.user.login }}" />
			{{ video_group.user.login }}
		</div>
		{% endif %}
	</div>

    <script>
		function loadVote()
		{
			$.ajax({
                type: 'POST',
                url: basepath + 'ajax_is_vote_next',
                datatype: 'json',
                success: function(data)
				{
					obj = $.parseJSON(data);
					if(obj.next == true)
					{
						window.location.reload();
					}
				}
			});
		}

		$(document).ready(function()
		{
			{% if video_group is defined and video_group.video.duration is defined %}

				var duration = ( parseInt({{ video_group.video.duration }}) +3 )* 1000;

				setTimeout(function(){ window.location.reload(); },duration);

			{%  endif %}
			setInterval( "loadVote()", 10000 );
		});
    </script>

{% endblock body %}
