<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {{project_name}} {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/Mongoboxjukebox/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Mongoboxjukebox/css/jukebox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Mongoboxjukebox/css/fancymoves.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/Mongoboxjukebox/css/tumblr.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ asset('bundles/Mongoboxjukebox/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/Mongoboxjukebox/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/Mongoboxjukebox/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/Mongoboxjukebox/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/Mongoboxjukebox/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/Mongoboxjukebox/ico/apple-touch-icon-57-precomposed.png') }}">

    <script src="{{ asset('bundles/Mongoboxjukebox/js/vendor/jquery/jquery.1.9.1.min.js') }}"></script>
    <script src="{{ asset('bundles/Mongoboxjukebox/js/vendor/jquery/jquery-ui-1.10.0.min.js') }}"></script>
    <script src="{{ asset('bundles/Mongoboxjukebox/js/vendor/jquery/jquery.easing.js') }}"></script>
		<script>
			var basepath = "{{ path('wall_index') }}";
		</script>
    {% block headerJs %}{% endblock %}
  </head>

  <body>

  	{# Barre de navigation top #}
	{% if app.user %}
  	{% include "MongoboxJukeboxBundle::Navigation/navbar.html.twig" %}
	{% endif %}

    <div class="container">
    <!-- CONTENT HERE -->

	    {% if app.session.hasFlash('success') %}
		    <div class="alert alert-success">
		        {{ app.session.flash('success') }}
		    </div>
	 	{% endif %}
	 	{% if app.session.hasFlash('notice') %}
		    <div class="alert alert-error">
		        {{ app.session.flash('notice') }}
		    </div>
	 	{% endif %}
	 	{% if app.session.hasFlash('info') %}
		    <div class="alert alert-info">
		        {{ app.session.flash('info') }}
		    </div>
	 	{% endif %}

      	{% block body %}{% endblock %}



    </div> <!-- /container -->

    <footer class="footer">
      	<div class="container">
	    <p>© {{project_name}} {{version}} By {{team_name}}</p>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/Mongoboxjukebox/js/vendor/bootstrap/bootstrap.min.js') }}"></script>
	{% if app.user %}
    <script src="{{ asset('bundles/Mongoboxjukebox/js/vendor/jquery/jquery.raty.js') }}"></script>
    <script src="{{ asset('bundles/Mongoboxjukebox/js/jukebox.js') }}"></script>
	<script src="{{ asset('bundles/Mongoboxtumblr/js/tumblr.js') }}"></script>
	{% endif %}
    {% block javascripts %}{% endblock %}

  </body>
</html>
