
{% block body -%}
    <h1>Modification du restaurant {{ entity.name }}</h1>

    <form action="{{ path('restaurant_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Modifier</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('restaurant') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <form action="{{ path('restaurant_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}
