{% extends "MongoeatVoteBundle::layout.html.twig" %}

{% form_theme edit_form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}
{% block body -%}
    <p style="float: right;">
        <a class="btn" href="{{ path('restaurant') }}">
            <i class="icon-repeat" style="margin-right: 5px"></i>Revenir à la liste
        </a>
    </p>
    <h1>Modification du restaurant {{ entity.name }}</h1>

    <form class="form-horizontal" action="{{ path('restaurant_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        </div>
    </form>


    <p>
        <form action="{{ path('restaurant_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>
    </p>
{% endblock %}
