{% extends "MongoeatVoteBundle::layout.html.twig" %}

{% block body -%}
    <p style="float: right">
        <a class="btn btn-success" href="{{ path('restaurant_new') }}">
            Ajouter un nouveau restaurant
        </a>
    </p>
    <h1>Liste des restaurants</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Popularité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('restaurant_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.code }} {{ entity.city }}</td>
                <td>{{ entity.votes|length }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('restaurant_show', { 'id': entity.id }) }}">voir</a>
                    </li>
                    <li>
                        <a href="{{ path('restaurant_edit', { 'id': entity.id }) }}">modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
