{% extends "MongoboxUsersBundle:User:layout.html.twig" %}

{% form_theme form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}
{% form_theme form_password 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}

{% block title %} - Modification de mon compte{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-sm-12 mt20">
            <fieldset>
                <legend>Modification du compte</legend>
                <form action="{{path('user_edit')}}" method="POST" {{ form_enctype(form) }} novalidate class="mt10">
                    {{ form_widget(form) }}

                    <label>Avatar Actuel :</label>
                    <div class="controls">
                        {% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {'user' : app.user, 'notext' : true} %}
                    </div>

                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Enregistrer">
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-md-6 col-sm-12 mt20">
            <fieldset>
                <legend>Modification du mot de passe</legend>
                <form action="{{ path('user_edit') }}" method="POST" {{ form_enctype(form_password) }} novalidate class="mt10">
                    {{ form_widget(form_password) }}

                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Modifier mon mot de passe">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
{% endblock body %}
