{% extends "MongoboxCoreBundle:Wall:layout.html.twig" %}

{% form_theme form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}
<div class="marketing"><img src="{{ asset('bundles/mongoboxcore/img/logo/mongo-logo-large.png') }}" alt="{{project_name}}" title="{{project_name}}" /></div>
<div class="hero-unit">
	<div class="row-fluid">
		<div class="span7">
			<form method="post">
				<legend>Ajouter un tumblr</legend>

                <div class="control-group">
                    <label class="control-label" for="tumblr_image">{{ form_label(form.image)  }}</label>
                    <div class="controls">
                        {{ form_widget(form.image)  }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tumblr_text">{{ form_label(form.text)  }}</label>
                    <div class="controls">
                        {{ form_widget(form.text)  }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tumblr_addtags">{{ form_label(form.addtags)  }}</label>
                    <div class="controls manage-tags-container">
                        <div class="input-append manage-tags">
                            {{ form_widget(form.addtags)  }}<button id="tumblr-button-add-tag" class="btn" type="button" title="Cliquez ici pour ajouter le tag"><i class="icon-plus"></i></button>
                        </div>
                        {% set tagDataPrototype = '<span>__name__</span><button class="close" >&times;</button><input type="hidden" name="tumblr[tags][]" value="__id__" />' %}
                        <div id="tumblr_tags" class="tags pull-right manage-tags" data-prototype="{{ tagDataPrototype }}">

                        </div>

                    </div>
                </div>

                {{form_row(form.groups)}}

                {{form_row(form._token)}}
				<input class="btn btn-primary" type="submit" value="Ajouter" />
			</form>
		</div>
	</div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ form_javascript(form) }}

    <script src="{{ asset('bundles/mongoboxtumblr/js/manageTags.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        tags.urlLoadTag = '{{ url('tumblr_tags_load_item') }}';
        tags.init();
    </script>
{% endblock javascripts %}

{% block css %}
    {{ form_stylesheet(form) }}
{% endblock %}