{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}
<div class="marketing">

	<h1><img src="{{ asset('bundles/Mongoboxjukebox/img/logo/mongo-logo-large.png') }}" alt="{{project_name}}" title="{{project_name}}" /></h1>
	<h2>Mongo pute</h2>
</div>
<div class="vote"></div>
<div class="hero-unit" style="text-align:center;">
	{% for entity in mongo_pute %}
		<div class="row">
			{% if loop.index > 1 %}
				<hr />
			{% endif %}

			<h2><a href="{{ path('tumblr_show', { 'id': entity.id }) }}" title="Voir : {{entity.text}}">{{entity.text}}</a></h2>
            <br/>
            <div id="moyenne-{{ entity.id }}" class="moyenne-globale">Moyenne : {{ entity.moyenne }} {% include 'MongoboxTumblrBundle:Slider:infoVote.html.twig' with {'tumblr':entity} %}</div>
            <div class="star" id="rating-tumblr-popover-{{ entity.id }}"></div>
            <input type="hidden" class="note-tumblr-{{ entity.id }} tumblr_id" value="{{ entity.id }}"/>
            <input type="hidden" class="note-user-{{ entity.id }} score_user" value="{{ app.user.getNoteForTumblr(entity.id) }}" />
            
            {% if entity.localPath is null %}
                <img src="{{ entity.image }}" title="{{ entity.text }}" alt="{{ entity.text }}" />
            {% else %}
                <img src="{{ entity.localPath }}" title="{{ entity.text }}" alt="{{ entity.text }}" />
            {% endif %}

            {# Tags list #}
            {% if entity.tags is not empty %}
                <div class="tags">
                    Tags:
                    {% for tag in entity.tags %}{% if loop.index > 1 %}, {% endif %}<a href="{{ path('mongo_pute',{'tag' : tag.systemName}) }}">{{ tag.name }}</a>{% endfor %}
                </div>
            {% endif %}
		</div>
	{% endfor %}
</div>

{# Pagination #}
{% set parameter = {} %}
{% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'mongo_pute', 'parameter' : parameter, 'pagination' : pagination } %}

{% endblock body %}

{% block javascripts %}
<script>
	$(function()
	{
		tumblr.init("tumblr-popover", "tumblr-img-id", "note-tumblr", "note-user-tumblr");
        tumblr.pathToImg = "{{ asset('bundles/Mongoboxjukebox/img/') }}";
        tumblr.initInfoVote();
        tumblr.starRating('.star', 1);
        tumblr.initScoreRating();
	});
</script>
{% endblock javascripts %}
