{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}

<div class="marketing">

	<h1><img src="{{ asset('bundles/Mongoboxjukebox/img/logo/mongo-logo-large.png') }}" alt="{{project_name}}" title="{{project_name}}" /></h1>
	<h2>Mongo pute</h2>
</div>
<div class="vote"></div>
<div class="hero-unit" style="text-align:center;">
	{% for entity in mongo_pute %}
		<div class="row {% if entity.hasTag('nsfw') and app.user.nsfwmode %}nswf-elt{% endif %}">
			{% if loop.index > 1 %}
				<hr />
			{% endif %}

			<h2><a href="{{ path('tumblr_show', { 'id': entity.id }) }}" title="Voir : {{entity.text}}">{{entity.text}}</a></h2>
            <br/>
            <div id="note-globale-{{ entity.id }}">Note globale: {{ entity.somme }}</div>
            <div id="moyenne-{{ entity.id }}" class="moyenne-globale">Moyenne : {{ entity.moyenne }}</div>
            <div class="star" id="rating-{{ entity.id }}"></div>
            <input type="hidden" id="note-tumblr-{{ entity.id }}" class="tumblr_id" value="{{ entity.id }}"/>
            <input type="hidden" id="note-user-{{ entity.id }}" class="score_user" value="{{ app.user.getNoteForTumblr(entity.id) }}" />

            <span class="tumblr-img-bloc">
                {% if entity.hasTag('nsfw') and app.user.nsfwmode %}
                <span class="nsfw-mask active" title="Cliquer pour afficher l'image"></span>
                {% endif %}
                {% if entity.localPath is null %}
                    <img src="{{ entity.image }}" title="{{ entity.text }}" alt="{{ entity.text }}" />
                {% else %}
                    <img src="{{ entity.localPath }}" title="{{ entity.text }}" alt="{{ entity.text }}" />
                {% endif %}
            </span>

            {# Tags list #}
            {% if entity.tags is not empty %}
                <div class="tags">
                    Tags:
                    {% for tag in entity.tags %}{% if loop.index > 1 %}, {% endif %}<a href="{{ path('mongo_pute',{'tag' : tag.systemName}) }}">{{ tag.name }}</a>{% endfor %}
                </div>
            {% endif %}
		</div>
	{% endfor %}
</div>

{# Pagination #}
{% set parameter = {} %}
{% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'mongo_pute', 'parameter' : parameter, 'pagination' : pagination } %}

{% endblock body %}

{% block javascripts %}
<script>
	$('.star').raty({
	    cancel: false,
	    click : function(score, evt) 
	    {
		    //var tumblr_id = $(this).siblings('.tumblr_id').val();
		    var pattern_regex_id = new RegExp('rating-(\\d+)');
			var tumblr_id = $(this).attr('id').match(pattern_regex_id)[1];
		    
			// Ajax request to submit vote and refresh the displayed one
			$.ajax({
			    type: 'POST',
			    url: basepath+"tumblr/vote/"+tumblr_id+"/"+score,
			    dataType: 'json',
			    success:function(data)
			    {
					// Changing the displayed note
					$('#note-globale-'+tumblr_id).html('Note globale : '+data.somme);
					$('#moyenne-'+tumblr_id).html('Moyenne : '+data.moyenne);
					$("#note-tumblr-"+tumblr_id).val(data);
					$("#note-user-"+tumblr_id).val(score);
			    }
			});
	    },
	    half: true,
	    hints: ['Bouhhhh !', 'Peut faire mieux', 'Bof', 'Pas mal !', 'MONGOOOOOO !'],
	    number: 5,
	    path: "{{ asset('bundles/Mongoboxjukebox/img/') }}",
	    score: 1,
	    size: 24,
	    starHalf: 'star-half-big.png',
	    starOff: 'star-off-big.png',
	    starOn: 'star-on-big.png',
	    width: 160
	});

	$(function()
	{
		$('.star').each( function(index, element)
		{
			$(element).raty('score', $(element).siblings('.score_user').val());
		});

        $('.nsfw-mask').click(function(){
           $(this).toggleClass('active');
        });
	});
</script>
{% endblock javascripts %}
