{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}
- Administration
{%- endblock title %}

{% block body %}
<div class="marketing">

    <h1><img src="{{ asset('bundles/mongoboxjukebox/img/logo/mongo-logo-large.png') }}" alt="{{project_name}}" title="{{project_name}}" /></h1>
    <h2>Mongo pute</h2>
</div>
<div class="vote"></div>
<div class="hero-unit" style="text-align:center;">
    <div class="row tumblr-row-page">

        <h2>{{entity.text}}</h2>
        {% include 'MongoboxTumblrBundle:Slider:vote.html.twig' with { 'tumblr': entity } %}

            <span class="tumblr-img-bloc">
                {% if entity.hasTag('nsfw') and app.user.nsfwmode %}
                <span class="nsfw-mask active" title="Cliquer pour afficher l'image"></span>
                {% endif %}
                {% if entity.localPath is null %}
                    <img src="{{ entity.image }}" title="{{ entity.text }}" alt="{{ entity.text }}" />
                {% else %}
                    <img src="{{ entity.localPath }}" title="{{ entity.text }}" alt="{{ entity.text }}" />
                {% endif %}
            </span>

        {# Tags list #}
        {% if entity.tags is not empty %}
            <div class="tags">
                Tags:
                {% for tag in entity.tags %}{% if loop.index > 1 %}, {% endif %}<a href="{{ path('mongo_pute',{'tag' : tag.systemName}) }}">{{ tag.name }}</a>{% endfor %}
            </div>
        {% endif %}

        {% if entityPrev %}
            <a class="left carousel-control" href="{{ path('tumblr_show', { 'id': entityPrev.id_tumblr }) }}" title="Précédent : '{{ entityPrev.text }}'" data-slide="prev">‹</a>
        {% else %}
            <a class="left carousel-control" href="#first" data-slide="prev">‹</a>
        {% endif %}

        {% if entityNext %}
            <a class="right carousel-control" href="{{ path('tumblr_show', { 'id': entityNext.id_tumblr }) }}" title="Suivant : '{{ entityNext.text }}'" data-slide="next">›</a>
        {% else %}
            <a class="right carousel-control" href="#last" data-slide="next">›</a>
        {% endif %}
    </div>
</div>

{% endblock body %}

{% block javascripts %}
<script>
	$(function()
	{
		tumblr.init("tumblr-popover", "tumblr-img-id", "note-tumblr", "note-user-tumblr");
		tumblr.pathToImg = "{{ asset('bundles/mongoboxjukebox/img/') }}";
		tumblr.initInfoVote();
		tumblr.starRating('.star', 1);
		tumblr.initScoreRating();
		
		$('.nsfw-mask').click(function(){
			$(this).toggleClass('active');
        });
	});
</script>
{% endblock javascripts %}
