{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}
<div class="vote"></div>
<div class="hero-unit" style="text-align:center;">
    <h2>Top des 7 derniers jours</h2>
		<div id="tumblr-slider-top7" class="tumblr-slider"> 
		<ul class="ui-tabs-nav">
		{% for entity in top7 %}
			<li class="ui-tabs-nav-item ui-tabs-selected" id="tumblr-pic-{{ loop.index }}">
				<a href="#tumblr-{{ loop.index }}" class="link-popover-tumblr" data-content=''>
					<img src="{{entity[0].image}}" alt="{{ entity[0].text }}" class="preview-tumblr" />
					<span>{{ entity[0].text }}</span>
				</a>
			</li>
		{% endfor %}
		</ul>
		{% for entity in top7 %}
			<div id="tumblr-{{ loop.index }}" class="ui-tabs-panel">
				<img src="{{ entity[0].image }}" alt="{{ entity[0].text }}" class="image-tumblr" />  
				<div class="info" >  
					<p>{{ entity[0].text }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
    <h2>Top des 30 derniers jours</h2>
		<div id="tumblr-slider-top30" class="tumblr-slider"> 
			<ul class="ui-tabs-nav">
			{% for entity in top30 %}
				<li class="ui-tabs-nav-item ui-tabs-selected" id="tumblr-pic-{{ loop.index }}">
					<a href="#tumblr-{{ loop.index }}" class="link-popover-tumblr" data-content=''>
						<img src="{{entity[0].image}}" alt="{{ entity[0].text }}" class="preview-tumblr" />
						<span>{{ entity[0].text }}</span>
					</a>
				</li>
			{% endfor %}
			</ul>
			{% for entity in top30 %}
				<div id="tumblr-{{ loop.index }}" class="ui-tabs-panel">
					<img src="{{ entity[0].image }}" alt="{{ entity[0].text }}" class="image-tumblr" />  
					<div class="info" >  
						<p>{{ entity[0].text }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
    <h2>Top de tous les temps</h2>
		<div id="tumblr-slider-topTumblr" class="tumblr-slider"> 
			<ul class="ui-tabs-nav">
			{% for entity in topTumblr %}
				<li class="ui-tabs-nav-item ui-tabs-selected" id="tumblr-pic-{{ loop.index }}">
					<a href="#tumblr-{{ loop.index }}" class="link-popover-tumblr" data-content=''>
						<img src="{{entity[0].image}}" alt="{{ entity[0].text }}" class="preview-tumblr" />
						<span>{{ entity[0].text }}</span>
					</a>
				</li>
			{% endfor %}
			</ul>
			{% for entity in topTumblr %}
				<div id="tumblr-{{ loop.index }}" class="ui-tabs-panel">
					<img src="{{ entity[0].image }}" alt="{{ entity[0].text }}" class="image-tumblr" />  
					<div class="info" >  
						<p>{{ entity[0].text }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
</div>

	<script>
		$(document).ready(function()
		{
			$("#tumblr-slider-top7").tabs({fx:{opacity: "toggle"}});
			$("#tumblr-slider-top30").tabs({fx:{opacity: "toggle"}});
			$("#tumblr-slider-topTumblr").tabs({fx:{opacity: "toggle"}});
		});
	</script>
{% endblock body %}