{#<div id="slider-tumblr">
    {% for entity in mongo_pute %}
    	<div>
            <img src="{{entity.image}}" style="max-height : 150px;" />
    		<p>
                {{entity.text}}
                <a href="{{path('tumblr_vote', {'sens' : 1, 'id_tumblr' : entity.id})}}" class="btn-vote" rel="nb_vote_tumblr_{{entity.id}}"><i class="icon-thumbs-up"></i></a>
                / <a href="{{path('tumblr_vote', {'sens' : -1, 'id_tumblr' : entity.id})}}" class="btn-vote" rel="nb_vote_tumblr_{{entity.id}}"><i class="icon-thumbs-down"></i></a>
                (<span id="nb_vote_tumblr_{{entity.id}}">{{entity.somme}}</span>)
            </p>
    	</div>
    {% endfor %}
</div>#}

<script>
$(document).ready(function()
{
    $('.star').raty({
        cancel: false,
        click : function(score, evt) {
            star_clicked = $(this);
            // récupération de l'id du tumblr
            var id_tumblr_vote = $(this).attr('id').match(/^rating-(\d+)/)[1];
            // envoie ajax de la note
            $.ajax({
                type: 'POST',
                url: basepath+"mongo-pute/tumblr_vote/"+id_tumblr_vote+"/"+score,
                success:function(data)
                {
                    // modification de l'affichage de la note globale
                    star_clicked.siblings('.vote-tumblr').html('Note globale : '+data);
                }
            });
        },
        half: true,
        hints: ['Bouhhhh !', 'Peut faire mieux', 'Bof', 'Pas mal !', 'MONGOOOOOO !'],
        number: 5,
        path: "{{ asset('bundles/Mongoboxjukebox/img/') }}",
        score: 1
    });
});
</script>

<div id="tumblr-slider" class="tumblr-slider"> 
    <ul class="ui-tabs-nav">
    {% for entity in mongo_pute %}
        <li class="ui-tabs-nav-item ui-tabs-selected" id="tumblr-pic-{{ loop.index }}">
            <a href="#tumblr-{{ loop.index }}" class="link-popover-tumblr">
                <img src="{{entity.image}}" alt="{{ entity.text }}" class="preview-tumblr" />
                <span>{{ entity.text }}</span>                
            </a>
        </li>
    {% endfor %}
    </ul>
    {% for entity in mongo_pute %}
        <div id="tumblr-{{ loop.index }}" class="ui-tabs-panel">
            <img src="{{ entity.image }}" alt="{{ entity.text }}" class="image-tumblr" />  
            <div class="info" >
                <p>
                    {{ entity.text }}
                </p>
                {% include 'MongoboxTumblrBundle:Tumblr:vote.html.twig' %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
	$(document).ready(function()
	{
        $("#tumblr-slider").tabs({fx:{opacity: "toggle"}});
        $('.groupes-tooltip').tooltip();
	});
</script>