{% set tumblr_class = 'tumblr-popover' %}
{% set tumblr_id_model = 'tumblr-img-id' %}
{% set tumblr_note_model = 'note-tumblr' %}
{% set tumblr_user_model = 'note-user-tumblr' %}

<ul style="list-style:none;">
    {% for mongo in mongo_pute %}
    	{% if top is defined and top is sameas(true) %}{% set mongo = mongo.tumblr %}{% endif %}
        <li style="display:inline;">
            <img src="{% if mongo.localPath is null %}{{ mongo.image }}{% else %}{{ mongo.localPath }}{% endif %}" alt="{{ mongo.text }}" title="{{ mongo.text }}" class="{{ tumblr_class }} {{ tumblr_id_model }}-{{ mongo.id }}" style="width:110px;height: 90px">
		    <input type="hidden" class="{{ tumblr_note_model }}-{{ mongo.id }}" value="{{ mongo.somme }}" />
		    <input type="hidden" class="{{ tumblr_user_model }}-{{ mongo.id }}" value="{{ app.user.getNoteForTumblr(mongo.id) }}" />
        </li>
    {% endfor %}
</ul>

{% block javascripts %}
<script>
    $(function()
    {
        // Giving class to parameter to initialize popover
        tumblr.init("{{ tumblr_class }}", "{{ tumblr_id_model }}", "{{ tumblr_note_model }}", "{{ tumblr_user_model }}");
        tumblr.pathToImg = "{{ asset('bundles/Mongoboxjukebox/img/') }}";
    });
</script>
{% endblock %}