{% set tumblr_class = 'tumblr-wall-popover' %}
{% set tumblr_id_model = 'tumblr-img-id' %}
{% set tumblr_note_model = 'note-tumblr' %}
{% set tumblr_user_model = 'note-user-tumblr' %}

<ul style="list-style:none;">
    {% for mongo in mongo_pute %}
        <li style="display:inline;">
            <img src="{{ mongo.image }}" id="{{ tumblr_id_model }}-{{ mongo.id }}" alt="{{ mongo.text }}" title="{{ mongo.text }}" class="{{ tumblr_class }}" style="width:110px;height: 90px">
		    <input type="hidden" id="{{ tumblr_note_model }}-{{ mongo.id }}" value="{{ mongo.somme }}" />
		    <input type="hidden" id="{{ tumblr_user_model }}-{{ mongo.id }}" value="{{ app.user.getNoteForTumblr(mongo.id) }}" />
        </li>
    {% endfor %}
</ul>

{% block javascripts %}
<script>
    $(function()
    {
        // Giving class to parameter to initialize popover
        tumblr.init( "{{ tumblr_class }}" );
        tumblr.regexId = '{{ tumblr_id_model }}';
        tumblr.noteModel = '{{ tumblr_note_model }}';
        tumblr.userModel = '{{ tumblr_user_model }}';
        tumblr.pathToImg = "{{ asset('bundles/Mongoboxjukebox/img/') }}";
    });
</script>
{% endblock %}