{% set tumblr_class = 'tumblr-popover' %}
{% set tumblr_id_model = 'tumblr-img-id' %}
{% set tumblr_note_model = 'note-tumblr' %}
{% set tumblr_user_model = 'note-user-tumblr' %}

<ul style="list-style:none;">
    {% for t in tumblr %}
    	{% if top is defined and top is sameas(true) %}{% set t = t.tumblr %}{% endif %}
        <li style="display:inline;">
            <img src="{% if t.localPath is null %}{{ t.image }}{% else %}{{ t.localPath }}{% endif %}" alt="{{ t.text }}" title="{{ t.text }}" class="{{ tumblr_class }} {{ tumblr_id_model }}-{{ t.id }}" style="width:110px;height: 90px">
        </li>
    {% endfor %}
</ul>

{% block javascripts %}
{% if top is not defined %}
<script>
    $(function()
    {
        // Giving class to parameter to initialize popover
        tumblr.init("{{ tumblr_class }}", "{{ tumblr_id_model }}", "{{ tumblr_note_model }}", "{{ tumblr_user_model }}");
        tumblr.pathToImg = "{{ asset('bundles/mongoboxtumblr/img/') }}";
    });
</script>
{% endif %}
{% endblock %}