{#<div>
	<div>
		<span id="nb_vote_tumblr_{{entity.id}}">{{entity.somme}}</span>
	</div>
	<div class="pull-right">
		<ul style="list-style-type:none;">
			<li><a href="{{path('tumblr_vote', {'sens' : 1, 'id_tumblr' : entity.id})}}" class="btn btn-vote" rel="nb_vote_tumblr_{{entity.id}}">
				<i class="icon-thumbs-up"></i>
			</a></li>

			<li><a href="{{path('tumblr_vote', {'sens' : -1, 'id_tumblr' : entity.id})}}" class="btn btn-vote btn-large" rel="nb_vote_tumblr_{{entity.id}}">
				<i class="icon-thumbs-down"></i>
			</a></li>
		</ul>
	</div>
</div>#}
<table class="table table-bordered">
	<tr>
		<td colspan="2" style="text-align: center; height: 32px; vertical-align: middle;">
			<span id="nb_vote_tumblr_{{entity.id}}">{{entity.somme}}</span>
		</td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<a href="{{path('tumblr_vote', {'note' : 1, 'id_tumblr' : entity.id})}}" class="btn btn-vote btn-large" rel="nb_vote_tumblr_{{entity.id}}">
				<i class="icon-thumbs-up"></i>
			</a>
		</td>
		<td style="text-align: center;">
			<a href="{{path('tumblr_vote', {'note' : 0, 'id_tumblr' : entity.id})}}" class="btn btn-vote btn-large" rel="nb_vote_tumblr_{{entity.id}}">
				<i class="icon-thumbs-down"></i>
			</a>
		</td>
	</tr>
</table>