<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('wall_index') }}" style="padding : 0;"><img src="{{ asset('bundles/Mongoboxjukebox/img/mongobox.png') }}" style="height : 40px;" alt="{{project_name}}" title="{{project_name}}" /></a>
      <div class="nav-collapse">
		{% if app.user %}
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="#" title="Groupes">Liste des Groupes</a>
					</li>
					<li class="divider"></li>
					{% for group in app.user.groups %}
						<li>
							<a href="{{path('change_group', {'id_group' : group.id})}}" title="Groupes">{{group.title}}</a>
						</li>
					{% endfor %}
					<li class="divider"></li>
					<li>
						<a href="{{ path('_logout')}}" title="Déconnexion"><span class="icon-off"></span> Déconnexion</a>
					</li>
				</ul>
			 </li>
		 </ul>
		{% endif %}
        <ul class="nav">

          <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion des vidéos <b class="caret"></b></a>
          	<ul class="dropdown-menu">
          		<li{% if app.request.attributes.get('_route') == 'videos' %} class="active"{% endif %}>
          			<a href="{{ path('videos') }}">Liste</a>
          		</li>

          		<li{% if app.request.attributes.get('_route') == 'videos_new' %} class="active"{% endif %}>
          			<a href="{{ path('videos_new') }}">Ajouter</a>
          		</li>
          	</ul>
          </li>
          <li class="dropdown">
			<a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Poster une mongo pute">Mongo pute <b class="caret"></b></a>
          	<ul class="dropdown-menu">
          		<li{% if app.request.attributes.get('_route') == 'mongo_pute_add' %} class="active"{% endif %}>
          			<a href="{{ path('mongo_pute_add') }}">Poster une Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'top_tumblr' %} class="active"{% endif %}>
          			<a href="{{ path('tumblr_top') }}">Top Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'mongo_pute' %} class="active"{% endif %}>
          			<a href="{{ path('mongo_pute') }}">Listing Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'admin_tumblr' %} class="active"{% endif %}>
          			<a href="{{ path('admin_tumblr') }}">Admin Mongo Pute</a>
          		</li>
          	</ul>
		</li>

          <li><a href="{{ path('live') }}" title="Voir le live">Live</a></li>
        </ul>
		<div id="video_en_cours">
			{% render "MongoboxJukeboxBundle:Wall:videoEnCours" %}
		</div>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
