<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('wall_index') }}" style="padding : 0.3em;">
		<img src="{{ asset('bundles/Mongoboxjukebox/img/logo/mongo-logo-header.png') }}" style="height : 40px;" alt="{{project_name}}" title="{{project_name}}" />
	  </a>
      <div class="nav-collapse">
		{% if app.user %}
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ app.user.gravatar(20) }}" /> {{ app.user.username }}<b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="{{path('group_index')}}" title="Groupes">Liste des Groupes</a>
					</li>
					<li class="divider"></li>
					{% for group in app.user.groups %}
						<li>
							<a href="{{path('group_change', {'id_group' : group.id})}}" title="Groupes">{{group.title}} {% if group.id == app.session.get('id_group') %}<span class="icon-ok"></span>{% endif %}</a>
						</li>
						{% if group.id == app.session.get('id_group') %}
							<li>
								<a href="{{path('group_edit', {'id' : group.id})}}" title="Groupes">--> Modifier le groupe</a>
							</li>
							{% if group.private %}
							<li>
								<a href="{{path('group_invite', {'id' : group.id})}}" title="Groupes">--> Inviter un utilisateur</a>
							</li>
							{% endif %}
						{% endif %}
					{% endfor %}
					<li class="divider"></li>
					<li>
						<a href="{{ path('user_edit')}}" title="Modifier votre compte"><span class="icon-edit"></span> Modifier votre compte</a>
					</li>
					<li>
						<a href="{{ path('_logout')}}" title="Déconnexion"><span class="icon-off"></span> Déconnexion</a>
					</li>
				</ul>
			 </li>
		 </ul>
		{% endif %}
        <ul class="nav">

          <li class="dropdown">
          	<a href="{{ path('videos') }}">Gestion des vidéos</a>
          </li>
          <li class="dropdown">
			<a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Poster une mongo pute">Mongo pute <b class="caret"></b></a>
          	<ul class="dropdown-menu">
          		<li{% if app.request.attributes.get('_route') == 'mongo_pute_add' %} class="active"{% endif %}>
          			<a href="{{ path('mongo_pute_add') }}">Poster une Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'top_tumblr' %} class="active"{% endif %}>
          			<a href="{{ path('tumblr_top') }}">Top Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'mongo_pute' %} class="active"{% endif %}>
          			<a href="{{ path('mongo_pute') }}">Listing Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'admin_tumblr' %} class="active"{% endif %}>
          			<a href="{{ path('admin_tumblr') }}">Admin Mongo Pute</a>
                </li>
                <li{% if app.request.attributes.get('_route') == 'tumblr_stats' %} class="active"{% endif %}>
                  <a href="{{ path('tumblr_stats') }}">Mongo Stats</a>
                </li>
          	</ul>
		</li>

          <li><a href="{{ path('live') }}" title="Voir le live">Live</a></li>
        </ul>
		<div id="video_en_cours">
			{% render "MongoboxJukeboxBundle:Wall:videoEnCours" %}
		</div>
  	    <a href="#post-video-modal" class="btn btn-success" id="add-video-button" role="button" data-toggle="modal" title="Ajouter une vidéo"><i class="icon-plus icon-white"></i></a>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="modal hide fade" id="post-video-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Ajout d'une vidéo</h3>
	</div>
	<div class="modal-body">
		<div class="loader"></div>
		<div class="modal-content"></div>
    </div>
</div>