{% extends "MongoboxTumblrBundle:Admin/Tumblr:layout.html.twig" %}

{% form_theme edit_form 'MongoboxJukeboxBundle:Form:mongobox_form_theme.html.twig' %}

{% block title -%}
- Administration
{%- endblock title %}

{% block body %} 
	{{ parent() }}
        <div class="span8">

            <form action="{{ path('admin_tumblr_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger pull-right" type="submit">Supprimer</button>
            </form>
            <h1>Tumblr edit</h1>

            <form class="form-horizontal" action="{{ path('admin_tumblr_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <a class="btn btn-link" href="{{ path('admin_tumblr') }}">
                        <i class="icon-arrow-left"></i> Retour
                    </a>

                    <button class="btn btn-primary pull-right" type="submit">Enregistrer</button>
                </div>
            </form>

        </div>

{% endblock body %}