{% extends "MongoboxTumblrBundle:Admin:layout.html.twig" %}

{% block title -%}
- Administration
{%- endblock title %}

{% block body %}
	{{ parent() }}

	<a href="{{ path('mongo_pute_add') }}" class="btn btn-large btn-primary pull-right">Poster un mongo pute</a>
	<h1>Tumblr list</h1>

	{# Pagination #}
	{% set parameter = {} %}
	{% include ('MongoboxCoreBundle:Partial:pagination.html.twig') with {'route':'admin_tumblr', 'parameter' : parameter, 'pagination' : pagination } %}

	<table class="table table-bordered table-striped">
	    <thead>
	        <tr>
	            <th>
	                {# Filter on Id #}
                    {% include ('MongoboxCoreBundle:Partial:tableFilter.html.twig') with {
                        'route':'admin_tumblr',
                        'property':'t.id_tumblr',
                        'label':'ID'
                    } %}
                </th>

	            <th>Image</th>
	            <th>Text</th>
	            <th>
                    {# Filter on Text #}
                    {% include ('MongoboxCoreBundle:Partial:tableFilter.html.twig') with {
                        'route':'admin_tumblr',
                        'property':'t.date',
                        'label':'Date'
                    } %}
                </th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('tumblr_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>
                    {% if entity.localPath is null %}
                        <img src="{{ entity.image }}" title="{{ entity.text }}" alt="{{ entity.text }}" width="100"/>
                    {% else %}
                        <img src="{{ entity.localPath }}" title="{{ entity.text }}" alt="{{ entity.text }}" width="100"/>
                    {% endif %}
	            </td>
	            <td>{{ entity.text }}</td>
	            <td>{% if entity.date %}le {{ entity.date|date('d/m/Y à H:i:s') }}{% endif %}</td>
	            <td>
                    <a class="btn" href="{{ path('tumblr_show', { 'id': entity.id }) }}">Voir</a>
                    <a class="btn" href="{{ path('admin_tumblr_edit', { 'id': entity.id }) }}"><i class="icon-ok-sign"></i> Modifier</a>
	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>

	{# Pagination #}
{% include ('MongoboxCoreBundle:Partial:pagination.html.twig') with {'route':'admin_tumblr', 'parameter' : parameter, 'pagination' : pagination } %}
{% endblock body %}
