{% trans_default_domain 'FOSUserBundle' %}
<h1>Registration</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register content-block'}}) }}
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{ 'registration.submit'|trans }}</button>
    </div>
{{ form_end(form) }}

<p class="text-center mt30 mb0">
    <a href="{{ path('fos_user_security_login') }}" title="Connexion">Connexion</a>
</p>
