<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('wall_index') }}" style="padding : 0.3em;">
		<img src="{{ asset('bundles/mongoboxcore/img/logo/mongo-logo-header.png') }}" style="height : 40px;" alt="{{project_name}}" title="{{project_name}}" />
	  </a>
      <div class="nav-collapse">
		{% if app.user %}
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {user : app.user, avatarMini : true} %} <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="{{path('group_index')}}" title="Groupes">Liste des Groupes</a>
					</li>
					{% if app.user.groupsInvitations|length > 0 %}
					<li class="dropdown-submenu pull-left">
						<a href="" title="Invitations">{{app.user.groupsInvitations|length}} invitation{% if app.user.groupsInvitations|length > 1 %}s{% endif %}</a>
						<ul class="dropdown-menu">
							{% for invitation in app.user.groupsInvitations %}
								<li>
									<a href="{{path('group_accept_invite', {'group' : invitation.id, 'user' : app.user.id})}}" title="Accepter l'invitation dans le groupe '{{invitation.title}}'">{{invitation.title}}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					{% endif %}
					<li class="divider"></li>
					{% for group in app.user.groups %}
						{% include 'MongoboxGroupBundle:Navigation:groupNavbar.html.twig' with {'group': group} %}
					{% endfor %}
					<li class="divider"></li>
					<li>
						<a href="{{ path('user_voir_favoris') }}" title="Modifier vos favoris"><span class="icon-bookmark"></span> Vos favoris</a>
					</li>
					<li>
						<a href="{{ path('user_edit')}}" title="Modifier votre compte"><span class="icon-edit"></span> Modifier votre compte</a>
					</li>
					<li>
						<a href="{{ path('_logout')}}" title="Déconnexion"><span class="icon-off"></span> Déconnexion</a>
					</li>
				</ul>
			 </li>
		 </ul>
		{% endif %}

        {{ knp_menu_render('MongoboxCoreBundle:MainBuilder:build', {'allow_safe_labels': true}) }}

		<div id="video_en_cours">
			{% render controller("MongoboxCoreBundle:Wall:videoEnCours") %}
		</div>
  	    <a href="" class="btn btn-success" id="add-video-button" title="Ajouter une vidéo"><i class="icon-plus icon-white"></i></a>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% include 'MongoboxCoreBundle:Navigation:tumblrForm.html.twig' %}

<div class="modal hide fade" id="action-video-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Action sur une vidéo</h3>
	</div>
	<div class="modal-body">
		<div class="loader"></div>
		<div class="modal-content"></div>
    </div>
</div>
