<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ path('wall_index') }}" style="padding : 0;"><img src="{{ asset('bundles/emkjukebox/img/mongobox.png') }}" style="height : 40px;" alt="{{project_name}}" title="{{project_name}}" /></a>
      <div class="nav-collapse">
		{% if app.user %}
		<p class="navbar-text pull-right">
			Logged in as <a href="{{ path('_logout')}}" title="Déconnexion" class="navbar-link">{{ app.user.username }}<i class="icon-off icon-white"></i></a>
		</p>
		{% endif %}
        <ul class="nav">

          <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion des vidéos <b class="caret"></b></a>
          	<ul class="dropdown-menu">
          		<li{% if app.request.attributes.get('_route') == 'videos' %} class="active"{% endif %}>
          			<a href="{{ path('videos') }}">Liste</a>
          		</li>

          		<li{% if app.request.attributes.get('_route') == 'videos_new' %} class="active"{% endif %}>
          			<a href="{{ path('videos_new') }}">Ajouter</a>
          		</li>
          	</ul>
          </li>
          <li class="dropdown">
			<a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Poster une mongo pute">Mongo pute <b class="caret"></b></a>
          	<ul class="dropdown-menu">
          		<li{% if app.request.attributes.get('_route') == 'mongo_pute_add' %} class="active"{% endif %}>
          			<a href="{{ path('mongo_pute_add') }}">Poster une Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'top_tumblr' %} class="active"{% endif %}>
          			<a href="{{ path('tumblr_top') }}">Top Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'mongo_pute' %} class="active"{% endif %}>
          			<a href="{{ path('mongo_pute') }}">Listing Mongo Pute</a>
          		</li>
          		<li{% if app.request.attributes.get('_route') == 'admin_tumblr' %} class="active"{% endif %}>
          			<a href="{{ path('admin_tumblr') }}">Admin Mongo Pute</a>
          		</li>
          	</ul>
		</li>

          <li><a href="{{ path('live') }}" title="Voir le live">Live</a></li>
        </ul>
		<div id="video_en_cours">
			{% render "EmkJukeboxBundle:Wall:videoEnCours" %}
		</div>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
