{% extends "EmkTumblrBundle:Admin/Tumblr:layout.html.twig" %}

{% block title -%}
- Administration
{%- endblock title %}

{% block body %} 
	{{ parent() }}
	
	<a class="btn" href="{{ path('admin_tumblr') }}">
    	<i class="icon-arrow-left"></i> Retour
    </a>
    
	<h1>Tumblr</h1>
	
	<table class="record_properties">
	    <tbody>
	        <tr>
	            <th>Id</th>
	            <td>{{ entity.id }}</td>
	        </tr>
	        <tr>
	            <th>Image</th>
	            <td><img src="{{ entity.image }}" title="{{ entity.text }}" width="200"/></td>
	        </tr>
	        <tr>
	            <th>Text</th>
	            <td>{{ entity.text }}</td>
	        </tr>
	        <tr>
	            <th>Date</th>
	            <td>{{ entity.date|date('d/m/Y H:i:s') }}</td>
	        </tr>
	    </tbody>
	</table>
	
	<ul class="record_actions">
	    <li>
	        <a class="btn" href="{{ path('admin_tumblr_edit', { 'id': entity.id }) }}">
	            <i class="icon-ok-sign"></i> Modifier
	        </a>
	    </li>
	    <li>
	        <form action="{{ path('admin_tumblr_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button class="btn btn-danger" type="submit">Supprimer</button>
	        </form>
	    </li>
	</ul>

{% endblock body %}