<div class="tab-pane" id="playlist_controll">
	<h3>Gestion de la playlist</h3>
	<table id="list_tags">
		<thead>
			<th>Tag</th>
			<th>Nombre de vidéo</th>
			<th>Actions</th>
		</thead>
		<tbody>
		{% for tag in list_tags %}
			<tr>
				<td>{{tag[0].name}}</td>
				<td>{{tag.total}}</td>
				<td>
					{% include 'MongoboxJukeboxBundle:Partial:live-button-tag-video.html.twig' with {'tag' : tag[0], 'group' : group} %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div id="playlist_tag_actif" class="total-clear-fix">
		<legend>Tag qui passe</legend>
		<ul>
			{% for tag in groupLiveTags %}
				{% if tag.selected == 1 %}
					{% include 'MongoboxJukeboxBundle:Partial:live-tag-video.html.twig' with {'tag' : tag} %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div id="playlist_tag_inactif">
		<legend>Tag qui ne passe pas</legend>
		<ul>
			{% for tag in groupLiveTags %}
				{% if tag.selected == 0 %}
					{% include 'MongoboxJukeboxBundle:Partial:live-tag-video.html.twig' with {'tag' : tag} %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div id="playlist_action">
		<a href="{{url('live_empty_playlist', {'id_group' : group.id, 'force' : false})}}" class="btn btn-warning btn-empty-playlist">Vider les randoms de la playlist</a> <a href="{{url('live_empty_playlist', {'id_group' : group.id, 'force' : true})}}" class="btn btn-danger btn-empty-playlist">Vider la playlist entièrement</a>
	</div>
</div>

<div id="replace-video-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Remplacement d'une vidéo</h3>
    </div>
    <div class="modal-body">
        <div class="loader"></div>
        <div class="modal-content"></div>
    </div>
</div>

<div id="putsch-modal" class="modal hide fade"></div>

<script type="text/javascript">
    var replaceUrl          = "{{ path('live_replace') }}";
    var putschUrl           = "{{ path('live_putsch') }}";
    var worstScoreAllowed   = -{{ max_dislikes }};
</script>

<link href="{{ asset('bundles/mongoboxjukebox/css/admin.css') }}" rel="stylesheet">
<script src="{{ asset('bundles/mongoboxjukebox/js/live-admin.js') }}"></script>
<script src="{{ asset('bundles/mongoboxjukebox/js/liveManageTags.js') }}"></script>
