{% extends "MongoboxCoreBundle:Wall:layout.html.twig" %}

{% block title -%}- Live{%- endblock title %}

{% block body %}
    <script src="{{ websockets_server }}/socket.io/socket.io.js"></script>
    <script src="{{ asset('bundles/mongoboxjukebox/js/live.js') }}" type="text/javascript"></script>

    {% include 'MongoboxJukeboxBundle:Partial:live-modals-contents.html.twig' %}

    <div class="marketing">
        <h1>
            <img src="{{ asset('bundles/mongoboxcore/img/logo/mongo-logo-large.png') }}" alt="{{project_name}}" title="{{project_name}}" />
        </h1>
    </div>

    <div class="row-fluid hero-unit">
        <div class="span9 text-center">
            <div id="player"></div>
            {% if player_mode == "admin" %}
                {% include 'MongoboxJukeboxBundle:Partial:live-admin-control.html.twig' %}
            {% endif %}

            {% include 'MongoboxJukeboxBundle:Partial:live-tabs.html.twig' %}
        </div>

        <div class="span3">
            <ul id="live-users" class="unstyled clearfix">
                <h4>Utilisateurs présents</h4>
                {% include 'MongoboxJukeboxBundle:Partial:live-user-block.html.twig' %}
            </ul>
        </div>

        <script type="text/javascript">
            function onPlayerStateChange(event)
            {
                var params = {
                    status: event.data,
                    currentTime: player.getCurrentTime()
                };

                {% if player_mode == "admin" %}
                    if (event.data != 0) {
                        socket.emit('player updated', params);
                    } else {
                        livePlayer.seekNextVideo(params);
                    }
                {% endif %}
            }

            var tag = document.createElement('script');
            tag.src = '//www.youtube.com/iframe_api';

            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var voteUrl			        = '{{ path('live_vote') }}';
            var scoreUrl		        = '{{ path('live_score') }}';
            var volumeUrl               = '{{ path('live_volume') }}';
            var putschEligibilityUrl    = '{{ path('live_putsch_eligibility') }}';
            var adminSwitchUrl          = '{{ path('live_admin_switch') }}';

            var playerMode		= '{{ player_mode }}';
            var playerVars      = {{ player_vars|raw }}
            var defaultVolume   = playerVars.volume;

            var player;
            function onYouTubeIframeAPIReady()
            {
                $(document).ready(function() {
                    player = new YT.Player('player', {
                        height: '{{ player_height }}',
                        width: '{{ player_width }}',
                        videoId: '{{ current_video.videoGroup.video.lien }}',
                        playerVars: playerVars,
                        events: {{ player_events|raw }}
                    });
                });
            }

            var currentUserId       = '{{ app.user.id }}';
            var currentPlaylistId   = '{{ current_video.id }}';

            var socket = io.connect('{{ websockets_server }}');

            socket.emit('subscribe', {
                user: {
                    id: '{{ app.user.id }}',
                    block: $('#user-' + {{ app.user.id }} + '-block').prop('outerHTML')
                },
                room: '{{ group.secretKey }}'
            });

            socket.on('user subscription', function(newUser) {
                $('#live-users').append(newUser.block);
            });

            socket.on('user unsubscription', function(oldUser) {
                $('#user-' + oldUser.id + '-block').remove();
            });

            var livePlayer = new LivePlayer();
            livePlayer.initialize(currentUserId, currentPlaylistId);
        </script>
    </div>
{% endblock body %}
