{% extends 'EmakinaIkaCoreBundle::layout.admin.html.twig' %}
{% import "EmakinaIkaCoreBundle:Theme:macros.html.twig" as macros %}

{% block content %}
<h1>Utilisateurs</h1>
{{ block('message') }}
{{ block('tools') }}
<div class="alert fade in">
	<strong>Les comptes sont synchronisés depuis l'Active Directory.</strong><br /> Il n'est pas possible de créer un compte dans l'application. Par contre les modifications des champs (Titre, Parrain, Ville, Manager) sont répercutés.
</div>

<table class="table table-bordered" id="emkTable" >
    <thead>
        <tr>
            <th class="span2"><span class="hidden-tablet hidden-phone">Trigramme</span>
			<i class="visible-tablet visible-phone icon-user"></i></th>
            <th class="">Nom</th>
			<th class="">Unité</th>
			<th class="hidden-phone">Statut du compte</th>
            <th class="visible-phone">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
				{% spaceless %}
				<span class="hidden-phone">{{ entity.trigramme }}</span>
				<a title="Voir" href="{{ path('admin_user_show', { 'id': entity.id }) }}">
					<span class="visible-phone badge {% if entity.isenabled %}badge-success{% else %}badge-important{% endif %}">{{ entity.trigramme }}</span>
				</a>	
				{% endspaceless %}
			</td>
            <td class="">{{ entity.name }}</td>	
			<td class="">{% if entity.unit is not empty %}{{ entity.unit.libelle }}{% endif %}</td>	
			<td class="hidden-phone">{% if entity.isenabled %}Actif{% else %}Inactif{% endif %}</td>
            <td>
				<div class="btn-group">
                        <a title="Voir" href="{{ path('admin_user_show', { 'id': entity.id }) }}" class="btn btn-mini btn-warning hidden-phone"><i class="icon-eye-open"></i></a>
                        <a title="Editer" href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-mini btn-warning "><i class="icon-edit"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}