{% extends "MongoeatVoteBundle::layout.html.twig" %}

{% block body -%}
    <h1>Choix du midi du {{ entity.date|date('d/m/Y') }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Nombre de vote</th>
                <td>{{ entity.votes|length }}/{{ entity.getNombrePersonne }}</td>
            </tr>
            <tr>
                <th>Score restaurant</th>
                <td><ol>
                        {% for resto, nb in entity.getRestaurentScore %}
                            <li>{{ resto }} : {{ nb }} vote(s)</li>
                        {% endfor %}
                </ol></td>
            </tr>
            <tr>
                <th>Personnes</th>
                <td><ul>
                        {% for user in entity.getUsers %}
                            <li>{{ user.name }}</li>
                        {% endfor %}
                    </ul></td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="btn btn-default" href="{{ path('decision') }}">
            <i class="icon-repeat" style="margin-right: 5px"></i>Retour à la liste
        </a>
    </p>
{% endblock %}
