{% form_theme form_video 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}
{% form_theme form_search 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}


<form id="form_video" method="post" class="form-inline">
    <div id="youtube_add" class="form-group">
        <label>Ajouter une vidéo venant de Youtube</label>
        <br/>
        {{ form_widget(form_video.lien) }}
        <span class="btn btn-default" id="search-btn-video">Ajouter</span>
        {{form_rest(form_video)}}<br />
    </div>
    <hr />
    <div id="video_search" class="form-group">

        {{ form_label(form_search.search) }}
        <br/>
        {{ form_widget(form_search.search) }}
        {{ form_rest(form_search) }}
        <div id="search">
            <div id="mongobox_search">
            </div>
            <div id="youtube_search">
            </div>
        </div>
    </div>
</form>


{% block javascripts %}
	{{ form_javascript(form_video) }}
{% endblock javascripts %}