			<div class="panel panel-default">
				<div class="panel-heading">Playlist</div>
				<div class="panel-body">
					<ul class="list-unstyled clearfix list-group" id="playlist">
					{% if video_en_cours is defined and video_en_cours is not null %}
						{% set total = (video_en_cours.videoGroup.video.duration - ("now"|date("U") - video_en_cours.videoGroup.lastBroadcast|date("U"))) %}
					{% else %}
						{% set total = 0 %}
					{% endif %}
					{% for pl in playlist %}
						<li class="clearfix show-edit-video over-highlight list-group-item">
							<small>
								<span class="playlist-icon">{% if pl.random == 1 %}<i class="glyphicon glyphicon-random"></i>{% else %}{% if pl.videoGroup.diffusion == 0 %}<i class="glyphicon glyphicon-star"></i>{% else %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}{% endif %}</span>
								<span class="playlist-thumbnail">
                                    {% if pl.videoGroup.video is defined and pl.videoGroup.video is not null %}
                                        <img src="{{ pl.videoGroup.video.thumbnail }}" alt="" class="photo-small video-thumbnail" rel="tooltip" title="<img src='{{ pl.videoGroup.video.thumbnailHq }}' />" data-html="true" />
                                    {% endif %}
                                </span>
								<span class="playlist-title">
									{% if some_pl[pl.id] is defined %}
										{% include 'MongoboxJukeboxBundle:Partial:videoTitle.html.twig' with {'videoGroup' : pl.videoGroup, 'total' : total, 'somme_pl' : somme_pl[pl.id]} %}
									{% else %}
										{% include 'MongoboxJukeboxBundle:Partial:videoTitle.html.twig' with {'videoGroup' : pl.videoGroup, 'total' : total} %}
									{% endif %}
								</span>
								<span class="playlist-time label label-primary">
                                {% if pl.videoGroup.video is defined and pl.videoGroup.video is not null %}
                                    {{pl.videoGroup.video.duration|niceTime}}
                                {% endif %}
                                </span>
								<span class="playlist-vote"><a href="{{path('vote', {'sens' : 1, 'id' : pl.id})}}" class="btn-vote" rel="nb_vote_video_{{pl.id}}"><i class="glyphicon glyphicon-thumbs-up"></i></a>
								<a href="{{path('vote', {'sens' : 0, 'id' : pl.id})}}" class="btn-vote" rel="nb_vote_video_{{pl.id}}">/</a> <a href="{{path('vote', {'sens' : -1, 'id' : pl.id})}}" class="btn-vote" rel="nb_vote_video_{{pl.id}}"><i class="glyphicon glyphicon-thumbs-down"></i></a>
								(<span id="nb_vote_video_{{pl.id}}">{% if somme_pl[pl.id] is defined %}{{somme_pl[pl.id]}}{% else %}0{% endif %}</span>)</span>
								<span class="playlist-user">
								{% if pl.videoGroup.user is not empty %}
									{% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {'user' : pl.videoGroup.user, avatarMini : true} %}
								{% endif %}
								</span>
							</small>
						</li>
                        {% if pl.videoGroup.video is defined and pl.videoGroup.video is not null %}
						{% if somme_pl[pl.videoGroup.id] is not defined or somme_pl[pl.videoGroup.id] > -2 %}{% set total = total + pl.videoGroup.video.duration %}{% endif %}
                        {% endif %}
                    {% endfor %}
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Historique</div>
				<div class="panel-body">
					<ul class="list-unstyled clearfix list-group">
					{% for video_hist in videos_historique %}
						<li class="clearfix show-edit-video over-highlight list-group-item">
							<small>
								<span class="playlist-icon">&nbsp;</span>
								<span class="playlist-thumbnail"><img src="{{ video_hist.video.thumbnail }}" alt="" class="photo-small video-thumbnail" rel="tooltip" title="<img src='{{ video_hist.video.thumbnailHq }}' />" data-html="true" /></span>
								<span class="playlist-title">
									{% include 'MongoboxJukeboxBundle:Partial:videoTitle.html.twig' with {'videoGroup' : video_hist, 'infos' : '- Passée le : ' ~ video_hist.lastBroadCast|date('d-m-Y H:i:s')} %}
								</span>
								<span class="playlist-time label label-primary">{{video_hist.video.duration|niceTime}}</span>
								<span class="playlist-vote">-</span>
								<span class="playlist-user">
								{% if video_hist.user is not empty %}
									{% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {'user' : video_hist.user, avatarMini : true} %}
								{% endif %}
								</span>
							</small>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>

