{% if video_en_cours is defined and video_en_cours is not empty %}
	<div class="text-center">
		<img src="{{video_en_cours.videoGroup.video.thumbnailHq}}" alt="" class="img-responsive" style="max-height: 150px; margin: 20px auto;" />
	</div>

    <div class="row" style="color: #999999;">
        <div class="col-md-12 text-center">
            <div class="col-md-12">
                {% if video_en_cours.videoGroup.diffusion == 0 %}<i class="glyphicon glyphicon-star hidden-xs hidden-sm"></i>{% endif %}
                {% include 'MongoboxJukeboxBundle:Partial:videoTitle.html.twig' with {'videoGroup' : video_en_cours.videoGroup, 'white' : true} %}
            </div>

            <div class="col-md-6 mb10">
                {% if video_en_cours.videoGroup.user is not empty %}
                <div class="user-box hidden-xs hidden-sm">
                    {% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {user : video_en_cours.videoGroup.user, avatarMini : true} %}
                </div>
                {% endif %}
            </div>

            <div class="col-md-6 mb10">
                <a href="{{path('vote', {'sens' : 1, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote">
                    <i class="glyphicon glyphicon-thumbs-up glyphicon glyphicon-white"></i>
                </a>
                <a href="{{path('vote', {'sens' : 0, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote">/</a>
                <a href="{{path('vote', {'sens' : -1, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote">
                    <i class="glyphicon glyphicon-thumbs-down glyphicon glyphicon-white"></i>
                </a>
                <span class="badge alert-info"><span id="nb_vote_video_en_cours">{{somme}}</span></span>
            </div>

            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar"
                         style="width: {{(date_actuelle | date('U') - video_en_cours.videoGroup.lastBroadcast| date('U')) / video_en_cours.videoGroup.video.duration * 100}}%;">
                        {{(date_actuelle | date('U') - video_en_cours.videoGroup.lastBroadcast| date('U'))|niceTime}} / {{video_en_cours.videoGroup.video.duration|niceTime}}
                    </div>
                </div>
            </div>
        </div>
    </div>
		
	<script type="application/javascript">	
		var videoTitle = "{{video_en_cours.videoGroup.video.name}}";
		document.title = videoTitle +' [' + document.location.host + '] ';    
	</script>
{% endif %}
