{% if video_en_cours is defined and video_en_cours is not empty %}
	<div id="video_image">
		<img src="{{video_en_cours.videoGroup.video.thumbnailHq}}" alt="" class="thumbnail-hq" />
	</div>

	<div id="video_infos" class="pull-left show-edit-video">
		<div class="title">
			{% if video_en_cours.videoGroup.diffusion == 0 %}<i class="icon-star icon-white"></i>{% endif %}
			{% include 'MongoboxJukeboxBundle:Partial:videoTitle.html.twig' with {'videoGroup' : video_en_cours.videoGroup, 'white' : true} %}

			{% if video_en_cours.videoGroup.user is not empty %}
			<div class="user-box">
				{% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {user : video_en_cours.videoGroup.user, avatarMini : true, loginClass : 'navbar-text'} %}
			</div>
			{% endif %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="vote">
				<a href="{{path('vote', {'sens' : 1, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote"><i class="icon-thumbs-up icon-white"></i></a>
				<a href="{{path('vote', {'sens' : 0, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote">/</a> <a href="{{path('vote', {'sens' : -1, 'id' : video_en_cours.id})}}" rel="nb_vote_video_en_cours" class="btn-vote"><i class="icon-thumbs-down icon-white"></i></a>
				<span class="navbar-text">- Vote : <span id="nb_vote_video_en_cours">{{somme}}</span></span>
			</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			{% if alreadyFavorite is not defined or (alreadyFavorite is defined and alreadyFavorite is sameas(false)) %}
			<div class="fav-div">
				<a href="{{ path('ajax_new_video_favorite', {'id_video': video_en_cours.videoGroup.video.id}) }}" id="btn-favoris-add" title="Ajouter la chanson aux favoris"><i class="icon-bookmark icon-white"></i><span> Fav</span></a>
			</div>
			{% endif %}
		</div>

		<div id="container_progress-bar">
			<span class="pull-left navbar-text">{{(date_actuelle | date('U') - video_en_cours.videoGroup.lastBroadcast| date('U'))|niceTime}}</span>
			<div class="progress pull-left">
				<div class="bar" style="width: {{(date_actuelle | date('U') - video_en_cours.videoGroup.lastBroadcast| date('U')) / video_en_cours.videoGroup.video.duration * 100}}%;"></div>
			</div>
			<span class="pull-left navbar-text">{{video_en_cours.videoGroup.video.duration|niceTime}}</span>
		</div>

    </div>
{% endif %}
