<h4>Utilisateurs actifs</h4>
<p>
    {% if activities is empty %}
        Il n'y a actuellement <strong>aucun</strong> utilisateur connecté.
    {% else %}
        {% set nb_active_users = activities|length %}

        {% if nb_active_users == 1 %}
            Il y a actuellement <strong>{{ nb_active_users }}</strong> utilisateur connecté :
        {% else %}
            Il y a actuellement <strong>{{ nb_active_users }}</strong> utilisateurs connectés :
        {% endif %}

        {% for activity in activities %}
            {% set in_group = false %}

            {% for group in activity.user.groups %}
                {% if group.id == current_group_id %}
                    {% set in_group = true %}
                {% endif %}
            {% endfor %}

            {%- if activity.user.username == app.user.username -%}
                <span style="color: blue;">Vous</span>
            {%- elseif in_group == true -%}
                <span style="color: green;">{{ activity.user.firstname }} {{ activity.user.lastname }}</span>
            {%- else -%}
                <span style="color: red;">{{ activity.user.firstname }} {{ activity.user.lastname }}</span>
            {%- endif -%}

            {%- if not loop.last -%}
                ,
            {%- else -%}
                .
            {%- endif -%}
        {% endfor %}
    {% endif %}
</p>

<hr />

<h4>Statistiques</h4>
<p>
    Nombre de vidéos : <strong>{{ global_count_videos }}</strong>
    • Nombre d'images : <strong>{{ global_count_images }}</strong>
    • Nombre d'utilisateurs : <strong>{{ global_count_users }}</strong>
    • Dernier inscrit : <strong>x</strong>
</p>

<hr />
