{#
    Template to build filter for table
     - route
     - property
     - label

#}
{% if filters.sortBy == property %}

    {% if filters.orderBy == 'desc' %}
        <a class="filter" href="{{ path( route, {'sortBy':property, 'orderBy': 'asc'}) }}">{{ label }} <i class="icon-chevron-down"></i></a>
    {% elseif filters.orderBy == 'asc' %}
        <a class="filter" href="{{ path( route, {'sortBy':property, 'orderBy': 'desc'}) }}">{{ label }} <i class="icon-chevron-up"></i></a>
    {% endif %}
{% else %}
    <a class="filter" href="{{ path( route, {'sortBy':property, 'orderBy': 'desc'}) }}">{{ label }}</a>
{% endif %}
