{% extends "MongoboxJukeboxBundle:Videos:layout.html.twig" %}

{% block body %}

    {% if query is not empty %}
        <h1>Résultats pour <span>"{{ query }}"</span></h1>
    {% else %}
        <h1>Liste des vidéos</h1>
    {% endif %}

    {# Pagination #}
    {% set parameter = {} %}
    {% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'videos', 'parameter' : parameter, 'pagination' : pagination } %}

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Thumbnail</th>
                <th>
                    {# Filter on Titre #}
                    {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'v.title',
                    'label':'Vidéo',
                    'query': query
                    } %}
                </th>
                <th>
                    {# Filter on Duration #}
                    {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'v.duration',
                    'label':'Durée',
                    'query': query
                    } %}
                </th>
                <th>
                    {# Filter on Dernière diffusion #}
                    {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.lastBroadcast',
                    'label':'Dernière diffusion',
                    'query': query
                    } %}
                </th>
                <th>
                    {# Filter on Nb Diffusions #}
                    {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.diffusion',
                    'label':'Diffusions',
                    'query': query
                    } %}
                </th>
                <th>
                    {# Filter on Nb Votes #}
                    {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.votes',
                    'label':'Votes',
                    'query': query
                    } %}
                </th>
                <th>Posteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="show-edit-video show-tag-video">
                    <td>
                        <img src="{{ entity.video.thumbnailHq }}" alt="video thumbnail" class="video-thumbnail"
                             title="{{ entity.video.name }}" width="120"/>
                    </td>
                    <td>
                        <div class="liste-video-title">
                            {{ entity.video.name }}
                        </div>
                        {% if entity.video.tags %}
                            <div class="liste-video-tag">
                                {% for tag in entity.video.tags %}
                                    <span class="label label-primary"><span>{{ tag.name }}</span></span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ entity.video.duration|niceTime }}</td>
                    <td>{% if entity.lastBroadcast %}{{ entity.lastBroadcast|date('d-m-Y H:i:s') }}{% endif %}</td>
                    <td>{{ entity.diffusion }}</td>
                    <td>{{ entity.votes }}</td>
                    <td>
                        {% if entity.user is not empty %}
                            {% include "MongoboxUsersBundle:User/Avatar:avatar.html.twig" with {'user' : entity.user, avatarMini : true} %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('videos_add_to_playlist_vg', { 'id': entity.id }) }}" class="btn btn-default"
                           title="Ajouter à la playlist"><i class="glyphicon glyphicon-arrow-up"></i></a>
                        <a href="{{ path('ajax_new_video_favorite', {'id_video': entity.video.id}) }}"
                           class="btn-favoris-add btn btn-default" title="Ajouter la vidéo aux favoris"><i
                                    class="glyphicon glyphicon-bookmark"></i> <span></span></a>
                        <a href="{{ url('video_edit_modal', {'id_video' : entity.video.id}) }}"
                           class="edit-video btn btn-default" title="Modifier la vidéo" data-target="#edit-video-modal"
                           data-toggle="modal" role="button"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# Pagination #}
    {% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'videos', 'parameter' : parameter, 'pagination' : pagination } %}


{% endblock body %}
