{% extends "MongoboxJukeboxBundle:Videos:layout.html.twig" %}

{% block body %}
<h1>Liste des vidéos</h1>

<form class="form-search form-inline" id="{{ searchVideosForm.name }}" action="{{ path('videos') }}" method="POST" {{ form_enctype(searchVideosForm) }}>
	<div class="input-append">
	    {{ form_widget(searchVideosForm.search) }}
	    <button type="submit" class="btn">Search</button>
 	</div>
</form>

{# Pagination #}
{% set parameter = {} %}
{% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'videos', 'parameter' : parameter, 'pagination' : pagination } %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                {# Filter on ID #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'v.id',
                    'label':'ID'
                } %}
            </th>
            <th>
                {# Filter on Titre #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'v.title',
                    'label':'Titre'
                } %}
            </th>
            <th>
                {# Filter on Lien #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'v.lien',
                    'label':'Lien'
                } %}
            </th>
            <th>
                {# Filter on Dernière diffusion #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.lastBroadcast',
                    'label':'Dernière diffusion'
                } %}
            </th>
            <th>
                {# Filter on Nb Diffusions #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.diffusion',
                    'label':'Nb Diffusions'
                } %}
            </th>
            <th>
                {# Filter on Nb Votes #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.votes',
                    'label':'Nb Votes'
                } %}
            </th>
            <th>
                {# Filter on Vendredi #}
                {% include ('MongoboxJukeboxBundle:Partial:tableFilter.html.twig') with {
                    'route':'videos',
                    'property':'vg.vendredi',
                    'label':'Vendredi'
                } %}
            </th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('videos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.video.title }}</td>
            <td>{{ entity.video.lien }}</td>
            <td>{% if entity.lastBroadcast %}{{ entity.lastBroadcast|date('d-m-Y H:i:s') }}{% endif %}</td>
			<td>{{entity.diffusion}}</td>
			<td>{{ entity.votes }}</td>
            <td>{{ entity.vendredi }}</td>
			<td>
			{% if entity.user is not empty %}{{ entity.user.login }}{% endif %}
			</td>
            <td>
            	<a href="{{ path('ajax_flag_vendredi_video', { 'id': entity.id, 'value' : 1 }) }}" class="btn">Définir comme vendredi</a>
            	<a href="{{ path('videos_add_to_playlist', { 'id': entity.id }) }}" class="btn">Add to Playlist</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Pagination #}
{% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'videos', 'parameter' : parameter, 'pagination' : pagination } %}



{% endblock body %}
