{% extends "MongoboxJukeboxBundle:Videos:layout.html.twig" %}

{% block body %}
<a href="{{ path('videos_new') }}" class="btn btn-large btn-primary pull-right">Ajouter une vidéo</a>
<h1>Liste des vidéos</h1>

<form class="form-search form-inline" id="{{ searchVideosForm.name }}" action="{{ path('videos') }}" method="POST" {{ form_enctype(searchVideosForm) }}>
	<div class="input-append">
	    {{ form_widget(searchVideosForm.search) }}
	    <button type="submit" class="btn">Search</button>
 	</div>
</form>

{# Pagination #}
{% set parameter = {} %}
{% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'videos', 'parameter' : parameter, 'pagination' : pagination } %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
			<th>
            	{% if filters.sortBy == 'v.title' %}
					{% if filters.orderBy == 'desc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'v.title', 'orderBy': 'asc'}) }}">Titre <i class="icon-chevron-down"></i></a>
					{% elseif filters.orderBy == 'asc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'v.title', 'orderBy': 'desc'}) }}">Titre <i class="icon-chevron-up"></i></a>
					{% endif %}
				{% else %}
					<a class="filter" href="{{ path('videos', {'sortBy':'v.title', 'orderBy': 'desc'}) }}">Titre</a>
				{% endif %}
			</th>
			<th>
            	{% if filters.sortBy == 'v.lien' %}
					{% if filters.orderBy == 'desc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'v.lien', 'orderBy': 'asc'}) }}">Lien <i class="icon-chevron-down"></i></a>
					{% elseif filters.orderBy == 'asc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'v.lien', 'orderBy': 'desc'}) }}">Lien <i class="icon-chevron-up"></i></a>
					{% endif %}
				{% else %}
					<a class="filter" href="{{ path('videos', {'sortBy':'v.lien', 'orderBy': 'desc'}) }}">Lien</a>
				{% endif %}
			</th>
            <th>
            	{% if filters.sortBy == 'vg.lastBroadcast' %}
					{% if filters.orderBy == 'desc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'vg.lastBroadcast', 'orderBy': 'asc'}) }}">Dernière diffusion <i class="icon-chevron-down"></i></a>
					{% elseif filters.orderBy == 'asc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'vg.lastBroadcast', 'orderBy': 'desc'}) }}">Dernière diffusion <i class="icon-chevron-up"></i></a>
					{% endif %}
				{% else %}
					<a class="filter" href="{{ path('videos', {'sortBy':'vg.lastBroadcast', 'orderBy': 'desc'}) }}">Dernière diffusion</a>
				{% endif %}
            </th>
            <th>
            	{% if filters.sortBy == 'vg.diffusion' %}
					{% if filters.orderBy == 'desc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'vg.diffusion', 'orderBy': 'asc'}) }}">Nb Diffusions <i class="icon-chevron-down"></i></a>
					{% elseif filters.orderBy == 'asc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'vg.diffusion', 'orderBy': 'desc'}) }}">Nb Diffusions <i class="icon-chevron-up"></i></a>
					{% endif %}
				{% else %}
					<a class="filter" href="{{ path('videos', {'sortBy':'vg.diffusion', 'orderBy': 'desc'}) }}">Nb Diffusions</a>
				{% endif %}
            </th>
            <th>
            	{% if filters.sortBy == 'vg.votes' %}
					{% if filters.orderBy == 'desc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'vg.votes', 'orderBy': 'asc'}) }}">Nb Votes <i class="icon-chevron-down"></i></a>
					{% elseif filters.orderBy == 'asc' %}
						<a class="filter" href="{{ path('videos', {'sortBy':'vg.votes', 'orderBy': 'desc'}) }}">Nb Votes <i class="icon-chevron-up"></i></a>
					{% endif %}
				{% else %}
					<a class="filter" href="{{ path('videos', {'sortBy':'vg.votes', 'orderBy': 'desc'}) }}">Nb Votes</a>
				{% endif %}				
            </th>
            <th>
				Vendredi
            </th>
			<th>
					User
			</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('videos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.video.title }}</td>
            <td>{{ entity.video.lien }}</td>
            <td>{% if entity.lastBroadcast %}{{ entity.lastBroadcast|date('d-m-Y H:i:s') }}{% endif %}</td>
			<td>{{entity.diffusion}}</td>
			<td>{{ entity.votes }}</td>
            <td>{{ entity.vendredi }}</td>
			<td>
			{% if entity.user is not empty %}{{ entity.user.login }}{% endif %}
			</td>
            <td>
            	<a href="{{ path('ajax_flag_vendredi_video', { 'id': entity.id, 'value' : 1 }) }}" class="btn">Définir comme vendredi</a>
            	<a href="{{ path('videos_add_to_playlist', { 'id': entity.id }) }}" class="btn">Add to Playlist</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Pagination #}
{% include ('MongoboxJukeboxBundle:Partial:pagination.html.twig') with {'route':'videos', 'parameter' : parameter, 'pagination' : pagination } %}



{% endblock body %}
