{% extends "MongoboxJukeboxBundle:Videos:layout.html.twig" %}

{% block body %}
<h1>Video</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Lien</th>
            <td>{{ entity.lien }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
		<tr>
            <th>Video</th>
            <td>
				<iframe class="youtube-player" type="text/html" width="432" height="270" style="max-width:100%;" src="http://www.youtube.com/embed/{{ entity.lien }}?wmode=opaque" frameborder="0"></iframe>
			</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('videos') }}" class="btn btn-default">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('videos_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Modifier
        </a>
    </li>
    <li>
        <form action="{{ path('videos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock body %}
