{% extends "MongoboxGroupBundle:Group:layout.html.twig" %}

{% form_theme form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}

{% block body %}
<h1>Création d'un groupe</h1>
<form action="{{ path('group_create') }}" class="content-block" method="POST" {{ form_enctype(form) }} novalidate>
    {#{{ form_widget(form) }}#}

    {{ form_row(form.title) }}
    {{ form_row(form.city) }}
    {{ form_row(form.private) }}
    {{ form_row(form.liveMaxDislikes) }}
    {{ form_row(form.nextPutschWaiting) }}

	<hr />
	<div>
		<input type="submit" class="btn btn-primary pull-right" value="Créer">
	</div>
{{ form_rest(form) }}
{% endblock body %}