{% extends "MongoboxUsersBundle:User:layout.html.twig" %}

{% block title -%}- Import des favoris{%- endblock title %}

{% block body %}

<div class="hero-unit">
	{% include 'MongoboxUsersBundle:Favoris:navigation.html.twig' %}

	<div class="alert alert-info">
		Vous pouvez choisir d'importer vos favoris :
		<ul>
			<li>Par liste en choisissant une liste complète ou des chansons individuellement dans les listes</li>
			<li>Par favoris en choisissant les vidéos dans tous vos favoris</li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header">Options d'import</li>
				<li class="active"><a href="#">Par Liste</a></li>
				<li><a href="#">Par vidéo</a></li>
			</ul>
		</div>
		<div class="span9" id="import-content">
			<div id="choices-import">
				{% for list in lists %}
					<div class="list-import" id="list-{{ list.object.id }}">
						<label class="checkbox">
							<input type="checkbox" name="lists[]" value="{{ list.object.id }}" class="checkbox-import pull-left parent-checkbox" />
							<a class="span-link" data-id-list={{ list.object.id }}>
								<i class="icon-chevron-right"></i>
								{{ list.object.name }} ({{ list.object.favoris|length }} vidéos)
							</a>
						</label>
						<ul class="no-bullet-please list-favoris-import hide" id="list-bookmarks-{{ list.object.id }}">
							{% for fav in list.object.favoris %}
								<li>
									<label class="checkbox">
										<input type="checkbox" name="videos[]" value="{{ fav.video.id }}" class="checkbox-import children-checkbox" /> {{ fav.video.name }}
									</label>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="groupes-import">
		<h3>Dans quel groupe ?</h3>
	</div>
</div>
{% endblock body %}

{% block css %}
	<link href="{{ asset('bundles/mongoboxusers/css/favoris.css') }}" rel="stylesheet">
{% endblock css %}

{% block javascripts %}
	<script src="{{ asset('bundles/mongoboxusers/js/import.js') }}"></script>
{% endblock javascripts %}
