<div id="vote-mongo">
	<div id="moyenne-{{ tumblr.id }}" class="moyenne-globale">Moyenne : {{ tumblr.moyenne }} {% include 'MongoboxTumblrBundle:Slider:infoVote.html.twig' %}</div>
	<div class="star" id="rating-{{ tumblr_class }}-{{ tumblr.id }}" data-score="{{ app.user.getNoteForTumblr(tumblr.id) }}"></div>
</div>
<div class="tags-diffusion">
	{% for tag in tumblr.tags %}
		<span class="badge badge-warning">{{ tag.name }}</span>
	{% endfor %}
</div>
<div class="img-tumblr-big">
	<img src="{% if tumblr.localPath is null %}{{ tumblr.image }}{% else %}{{ tumblr.localPath }}{% endif %}" alt="{{ tumblr.text }}" title="{{ tumblr.text }}" />
</div>
<div class="groups-diffusion">
	{% for group in tumblr.groups %}
		<span class="badge badge-info">{{ group.title }}</span>
	{% endfor %}
</div>