<div class="col-xs-4 col-sm-4 col-md-2 mb10">
    <div class="tumblr-img-bloc un-tumblr {% if mongo.hasTag('nsfw') and app.user.nsfwmode %}nswf-elt{% endif %}{% if loadAnother is defined and loadAnother %}un-tumblr-another{% endif %}" id="tumblr-{{mongo.id}}">
        {% if mongo.hasTag('nsfw') and app.user.nsfwmode %}
            <span class="nsfw-mask active tumblr-popover tumblr-img-id-{{ mongo.id }}" title="Cliquer pour afficher l'image"></span>
        {% endif %}

        <img class="img-responsive img-thumbnail tumblr-popover tumblr-img-id-{{ mongo.id }}" src="{% if mongo.localPath is null %}{{ mongo.image }}{% else %}{{ mongo.localPath }}{% endif %}"
             alt="{{ mongo.text }}" title="{{ mongo.text }}"
             style="width:110px;height: 90px" />
    </div>
</div>