<li style="display:inline;" class="{% if mongo.hasTag('nsfw') and app.user.nsfwmode %}nswf-elt{% endif %}">
	<span class="tumblr-img-bloc">
		{% if mongo.hasTag('nsfw') and app.user.nsfwmode %}
		    <span class="nsfw-mask active tumblr-popover tumblr-img-id-{{ mongo.id }}" title="Cliquer pour afficher l'image"></span>
        {% endif %}
		<img src="{% if mongo.localPath is null %}{{ mongo.image }}{% else %}{{ mongo.localPath }}{% endif %}" alt="{{ mongo.text }}" title="{{ mongo.text }}" class="tumblr-popover tumblr-img-id-{{ mongo.id }}" style="width:110px;height: 90px" />
    </span>
</li>
