<form id="form_video_info" method="post" action="{{url('video_edit_modal', {'id_video' : video.id})}}">
	{{ form_widget(form_video_info) }}
	{{form_rest(form_video_info)}}
	{{ form_widget(form_video_info.tag) }}
	<span class="btn" id="video-button-add-tag">Ajouter</span>
	<div id="container-selected-tags">
		{% for tag in list_tags %}
			<li class="tag-item alert alert-info"><span>{{tag.name}}</span><button class="close" >&times;</button><input type="hidden" name="video_tags[tags][]" value="{{tag.id}}" /></li>
		{% endfor %}
	</div>
	{% set tagDataPrototype = '<span>__name__</span><button class="close" >&times;</button><input type="hidden" name="video_tags[tags][]" value="__id__" />' %}
	<div id="video_tags_list" class="tags manage-tags" data-prototype="{{ tagDataPrototype }}"></div>
	<input type="hidden" name="id_video" value="{{video.id}}" />
	<input type="submit" value="Enregistrer" />
</form>

{% block javascripts %}
	{{ form_javascript(form_video_info) }}
	<script type="text/javascript">
		tags.clear();
	</script>
{% endblock javascripts %}