{% if app.user.avatar is not empty %}
    {% set avatar = app.user.avatarWebPath|apply_filter('avatar_thumbnail')%}
{% else %}
    {% set avatar = app.user.gravatar(20) %}
{% endif %}

<li id="user-{{ app.user.id }}-block" class="clearfix show-edit-video over-highlight">
    <a href="{{ url('fos_user_profile_edit', {'id' : app.user.id}) }}">
        <span class="live-user">
            <img src="{{avatar}}" alt="" title="" class="photo-small" />
            {{ app.user.firstname }} {{ app.user.lastname }}
        </span>
    </a>
</li>
