{# Pagination #}
{% if  pagination.page_total > 1 %}
<nav class="text-center">
    <ul class="pagination">
        {% if pagination.page != 1 %}
                {% set parameter = parameter|merge({'page': pagination.page - 1}) %}
                <li><a href="{{path(route, parameter)}}">«</a></li>
        {% else %}
                <li class="disabled"><a href="#">«</a></li>
        {% endif %}
        {% if pagination.page_gauche != 1 %}
                {% set parameter = parameter|merge({'page': 1}) %}
                <li><a href="{{path(route, parameter)}}">1</a></li>
                {% if pagination.page_gauche > 2 %}<li class="disabled"><a href="#">...</a></li>{% endif %}
        {% endif %}
        {% for i in pagination.page_gauche..pagination.page_droite %}
                {% if i == pagination.page %}
                    <li class="disabled"><a href="#">{{i}}</a></li>
                {% else %}
                {% set parameter = parameter|merge({'page': i}) %}
                    <li><a href="{{path(route, parameter)}}">{{i}}</a></li>
                {% endif %}
        {% endfor %}
        {% if pagination.page_droite != pagination.page_total %}
                {% set parameter = parameter|merge({'page': pagination.page_total}) %}
                {% if pagination.page_total - 1 > pagination.page_droite %}<li class="disabled"><a href="#">...</a></li>{% endif %}
                <li><a href="{{path(route, parameter)}}">{{ pagination.page_total}}</a></li>
        {% endif %}
        {% if  pagination.page < pagination.page_total %}
                {% set parameter = parameter|merge({'page': pagination.page + 1}) %}
                <li><a href="{{path(route, parameter)}}">»</a></li>
        {% else %}
                <li class="disabled"><a href="#">»</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
