{#
    Template to build filter for table
     - route
     - property
     - label
     - query

#}
{% set params = {} %}

{% if query is not empty %}
    {% set params = params|merge({ 'query': query }) %}
{% endif %}

{% if filters.sortBy == property %}

    {% if filters.orderBy == 'desc' %}
        {% set params = params|merge({'sortBy':property, 'orderBy': 'asc'}) %}
        <a class="filter" href="{{ path( route, params) }}">{{ label }} <i class="glyphicon glyphicon-chevron-down"></i></a>
    {% elseif filters.orderBy == 'asc' %}
        {% set params = params|merge({'sortBy':property, 'orderBy': 'desc'}) %}
        <a class="filter" href="{{ path( route, params) }}">{{ label }} <i class="glyphicon glyphicon-chevron-up"></i></a>
    {% endif %}

{% else %}
    {% set params = params|merge({'sortBy':property, 'orderBy': 'desc'}) %}
    <a class="filter" href="{{ path( route, params) }}">{{ label }}</a>
{% endif %}
