{% if total is defined %}
	{% set heure = total + "now"|date("U") %}
{% endif %}

{% set userLogin = '' %}
{% if videoGroup.user is not null %}
	{% set userLogin = videoGroup.user.login %}
{% endif %}

{% if infos is not defined %}
	{% if total is defined and total is not null %}
		{% set infos = ' - Dans '~total|niceTime~' à '~heure|date("H:i") %}
	{% else %}
		{% set infos = '' %}
	{% endif %}
{% endif %}

<div class="col-md-12">
    {% if videoGroup.video is defined and videoGroup.video is not null %}
    <a href="{{videoGroup.video.youtubeUrl}}" title="Posté par {{userLogin}}{{infos}} - Points : {{videoGroup.votes - videoGroup.diffusion}}"{% if somme_pl is defined and somme_pl <= -2 %} style="color : red;"{% endif %}>{{videoGroup.video.name}}</a>
    {% endif %}
</div>

<div class="col-md-12">
    {% if video_en_cours is not null and alreadyFavorite is not defined or (alreadyFavorite is defined and alreadyFavorite is sameas(false)) %}
        <a href="{{ path('ajax_new_video_favorite', {'id_video': video_en_cours.videoGroup.video.id}) }}" class="btn-favoris-add btn-link jukebox-hidden" title="Ajouter la vidéo aux favoris"><i class="glyphicon glyphicon-bookmark{% if white is defined and white %} icon-white{% endif %}"></i><span></span></a>
    {% endif %}

    {% if videoGroup.video is defined and videoGroup.video is not null %}
    <a href="{{url('video_edit_modal', {'id_video' : videoGroup.video.id})}}" class="edit-video btn-link">
        <span class="glyphicon glyphicon-edit {% if white is defined and white %} icon-white{% endif %}" title="Modifier"></span>
    </a>
    {% endif %}
</div>